<head>
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/18450ed4eb.js"></script>
</head>
<div class="d-flex">
  <div class="sidebar">
    <div class="user-details">
      <div class="user-details-email" *ngIf="currentUser.permisiune == 1">
        <img class="user-details-avatar" src="/assets/profile-pic.jpg"/>
      </div>
      <div class="user-details-email" *ngIf="currentUser.permisiune == 0">
        <img class="user-details-avatar" src="/assets/profile-pic2.jpg"/>
      </div>
      <div class="user-details-name">
        {{ currentUser.nume }} {{ currentUser.prenume }}
      </div>

      <div class="user-details-name">
         {{currentFaculty[0]}}
      </div>

      <div *ngIf="currentUser.permisiune == 1; else student" class="user-details-email">
        profesor
      </div>
      <ng-template #student>
        <div class="user-details-email">
          student
        </div>
      </ng-template>

    </div>
    <div
      (click)="doLogout()"
      class="logout-btn mt-5"
    >
      Logout
    </div>
  </div>

  <div class="dashboard">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Numar</th>
        <th scope="col">Descriere</th>
        <th scope="col">Stare</th>
        <th scope="col">Istoric</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody *ngFor="let row of tableData">
      <tr>
        <td>
          {{ row.nume }}
        </td>
        <td>
          {{ row.descriere }}
        </td>
        <td *ngIf="!row.stare">
          Libera
        </td>
        <td *ngIf="row.stare">
          Ocupata
        </td>
        <td class="d-flex justify-content-around">
          <button
            (click)="openHistoryModal(row.nume, row.id)"
            class="btn btn-sm table-icon"
            matTooltip="Istoric"
          >
            <fa-icon [icon]="faHistory"></fa-icon>
          </button>
          <div matTooltip="Rezerva">
            <button
              (click)="openBookingModal(row.nume, row.id)"
              [disabled]="currentUser.permisiune != 1"
              class="btn btn-sm table-icon"
            >
              <fa-icon [icon]="faCalendarAlt"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<app-view-history-modal [events]="openHistoryModalSubject.asObservable()"></app-view-history-modal>
<app-book-classroom-modal [events]="openBookingModalSubject.asObservable()"></app-book-classroom-modal>
